<html>
    <head>
        <title>axm1414's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Andy's blog</a></h1>
        </div>

        <div>
            <h2><a href="">How the Team Project gave me an insight on the video-game industry</a></h2>
            <p>published: 18.08.2020, 12:35</p>
            <p>Hello everyone! Today I will be talkin about my experience as a member of a video-game development team.</p>
        </div>

        <div>
            <h2><a href="">My expectations for next year as a Computer Science student</a></h2>
            <p>published: 18.08.2020, 12:39</p>
            <p>Hello everyone!</p>
        </div>
    </body>
</html>